@import url('https://fonts.googleapis.com/css?family=Open+Sans');
* {
    margin: 0 auto;
}

.wrapper {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@media only screen and (max-width: 1200px) and (min-width: 768px) {
    .wrapper {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    .wrapper {
        width: 1070px;
    }
}