.fifth_block {
    height: 700px;
    margin-top: 125px;
    background: url("../assets/bg_3.png") no-repeat;
    background-position: center;
    &__wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1300px;
        height: 100%;
        &__map {
            display: block;
            width: 709px;
            height: 522px;
            &_m_v {
                display: none;
            }
        }
        &_info {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: right;
            float: right;
            height: 517px;
            margin: 64px 0 0 0px;
            &_title {
                margin: 0 0 0 190px;
                font-size: 36px;
                font-family: 'inglobalbi';
                line-height: 1.2;
                color: $main_color_white;
            }
            &_text {
                margin: 0 0 0 160px;
                font-size: 18px;
                font-family: 'Open Sans', serif;
                color: $main_color_white;
                line-height: 1.2;
            }
            &_adress,
            &_contact,
            &_mail {
                margin: 0 0 0 365px;
                font-size: 18px;
                font-family: 'Open Sans', serif;
                color: $main_color_white;
                line-height: 1.2;
                div {
                    margin-bottom: 5px;
                }
                a {
                    color: $main_color_white;
                }
            }
        }
    }
}