.footer {
    height: 200px;
    background-color: $main_color_white;
    &__wrapper {
        display: flex;
        color: #787878;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 1300px;
        height: 100%;
        &__company {
            font-size: 12px;
            font-family: 'Open Sans', serif;
            & span {
                text-decoration: underline;
            }
        }
    }
}