.fourth_block {
    height: 1000px;
    background-color: $main_color_white;
    &__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        width: 1300px;
        height: 100%;
        &__first_part {
            width: 100%;
            height: 50%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            &__first {
                margin: 0;
                text-align: left;
                &_title {
                    font-size: 36px;
                    width: 345px;
                    font-family: "inglobalbi";
                    color: $main_color_blue_press_btn;
                    line-height: 1.2;
                    text-shadow: 1.414px 1.414px 0px rgba(153, 25, 0, 0.004);
                    margin-bottom: 25px;
                }
                &_text {
                    font-family: 'Open Sans', serif;
                    margin: 0;
                    width: 343px;
                    height: 112px;
                    &_m_v {
                        display: none;
                    }
                }
                &_box {
                    display: flex;
                    margin-top: 25px;
                    &_list {
                        text-align: left;
                        margin: 0;
                        &_item {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            font-family: 'Open Sans', serif;
                            font-weight: bold;
                            font-size: 12px;
                            height: 27px;
                            margin-bottom: 10px;
                            &_info {
                                margin-left: 10px;
                                margin-top: -5px;
                            }
                        }
                    }
                }
            }
            &__second {
                margin: 0;
                text-align: right;
                &_title {
                    font-size: 36px;
                    width: 290px;
                    font-family: "inglobalbi";
                    color: $main_color_red;
                    line-height: 1.2;
                    text-shadow: 1.414px 1.414px 0px rgba(153, 25, 0, 0.004);
                    margin-bottom: 20px;
                    margin-right: 0;
                }
                &_text {
                    display: block;
                    font-family: 'Open Sans', serif;
                    margin-right: 0px;
                    width: 390px;
                    height: 112px;
                }
                &_box {
                    display: flex;
                    margin-top: 25px;
                    float: right;
                    &_list {
                        text-align: right;
                        margin: 0;
                        &_item {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            font-family: 'Open Sans', serif;
                            font-weight: bold;
                            font-size: 12px;
                            height: 27px;
                            margin-bottom: 10px;
                            &_info {
                                float: right;
                                margin-right: 10px;
                                margin-top: -5px;
                            }
                        }
                    }
                }
            }
        }
        &__second_part {
            margin-bottom: 220px;
            &_text {
                margin-left: 125px;
                color: $main_color_white;
                position: absolute;
                font-family: 'Open Sans', serif;
                text-shadow: #1b93e9d7 0 2px 0;
                &_first,
                &_second {
                    font-size: 20px;
                }
                &_third {
                    font-style: italic;
                    font-size: 40px;
                }
            }
            &_img_present {
                display: block;
                position: relative;
                margin-top: -443px;
                width: 600px;
                height: 745px;
                &_m_v {
                    display: none;
                }
            }
            &_img_phone {
                display: block;
                position: absolute;
                width: 870px;
                height: 367px;
                margin-top: -101px;
                margin-left: -166px;
                &_m_v {
                    display: none;
                }
            }
        }
    }
}

.circles_blue {
    background-color: $main_color_blue_press_btn;
}

.circles_red {
    background-color: $main_color_red;
}

.circle {
    margin: 0;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 0 2px 2px 0;
}

.couple_circles {
    margin: 0;
    display: flex;
    width: 12px;
    flex-direction: row;
    & div {
        margin-bottom: 2px;
    }
}

.trio_circles {
    display: flex;
    margin: 0;
    width: 12px;
    flex-direction: column;
    align-items: center;
    & div {
        margin-bottom: 2px;
    }
}

.squar_circles {
    margin: 0;
}

.fhrase {
    width: 51px;
    margin-top: 18px;
}

.mouse {
    margin: 0 69px;
    &_img {
        display: block;
    }
}