@media all and (max-width: 767px) and (min-width: 320px) {
    .fourth_block {
        height: 1500px;
        background-color: $main_color_white;
        &__wrapper {
            width: 300px;
            &__first_part {
                flex-direction: column;
                justify-content: space-between;
                &__first {
                    margin-bottom: 310px;
                    &_title {
                        width: 300px;
                    }
                    &_text {
                        display: none;
                        &_m_v {
                            display: block;
                            font-family: 'Open Sans', serif;
                            margin: 0;
                            width: 300px;
                            height: 112px;
                        }
                    }
                    &_box {
                        margin-top: 52px;
                    }
                }
                &__second {
                    margin: 0;
                    text-align: right;
                    &_title {
                        font-size: 36px;
                        width: 290px;
                        font-family: "inglobalbi";
                        color: $main_color_red;
                        line-height: 1.2;
                        text-shadow: 1.414px 1.414px 0px rgba(153, 25, 0, 0.004);
                        margin-bottom: 20px;
                        margin-right: 0;
                    }
                    &_text {
                        font-family: 'Open Sans', serif;
                        margin-right: 0px;
                        width: 300px;
                        height: 112px;
                    }
                    &_box {
                        margin-top: 52px;
                    }
                }
            }
            &__second_part {
                margin-bottom: 220px;
                &_text {
                    margin-left: 36px;
                    text-shadow: none;
                    z-index: 20;
                    margin-top: 495px;
                    &_first,
                    &_second {
                        font-size: 18px;
                    }
                    &_third {
                        font-style: italic;
                        font-size: 29px;
                    }
                }
                &_img_present {
                    display: none;
                    &_m_v {
                        display: block;
                        position: relative;
                        margin-top: -365px;
                        width: 300px;
                        height: 320px;
                    }
                }
                &_img_phone {
                    display: none;
                    &_m_v {
                        display: block;
                        position: absolute;
                        margin-top: -410px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .fourth_m_v {
        margin-top: 470px;
    }
    .fhrase {
        width: 52px;
        margin-top: 18px;
    }
    .mouse {
        margin: 0 14px;
        &_img {
            display: none;
        }
    }
}