@media all and (max-width: 767px) and (min-width: 320px) {
    .fifth_block {
        height: 1000px;
        margin-top: -110px;
        display: flex;
        flex-direction: column;
        &__wrapper {
            flex-direction: column-reverse;
            width: 300px;
            height: 100%;
            margin-top: 152px;
            &__map {
                display: none;
                &_m_v {
                    display: block;
                    width: 100%;
                }
            }
            &_info {
                display: flex;
                justify-content: center;
                text-align: right;
                float: right;
                height: 460px;
                &_title {
                    margin: 0 0 25px 0;
                    font-size: 22px;
                }
                &_text {
                    margin: 0 0 25px 0;
                    font-size: 14px;
                }
                &_adress,
                &_contact,
                &_mail {
                    margin: 0 0 25px 0;
                    font-size: 14px;
                    div {
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
}