@media all and (max-width: 767px) and (min-width: 320px) {
    .second_block {
        height: 940px;
        &__wrapper {
            flex-direction: column;
            width: 300px;
            height: 100%;
            &_form_and_info {
                margin: 40px 0 0 0;
                width: 100%;
                flex-direction: column-reverse;
            }
            &__first_part {
                margin-top: 73px;
            }
            &__second_part {
                z-index: 0;
                margin-top: 0px;
                width: 300px;
                margin-right: 0px;
                text-align: right;
                &_title {
                    font-family: "inglobalbi";
                    color: $main_color_blue_press_btn;
                    font-size: 25px;
                }
                &_text {
                    font-size: 12px;
                    margin: 20px 0 0 69px;
                    font-family: 'Open Sans', serif;
                }
            }
        }
        &__header_of_form {
            &_hat {
                margin-left: -109px;
            }
            &_shadow {
                margin-left: -44px;
            }
            &_flag {
                margin-left: 23px;
            }
            &_present {
                margin-left: 112px;
            }
        }
        &_form {
            border: none;
            border-top: 1px solid $light_color_grey;
            margin-left: -10px;
            width: 320px;
            &__headline {
                @include openSansBold;
                font-size: 20px;
            }
            &__subtitle {
                font-family: 'Open Sans', serif;
                font-size: 13px;
            }
        }
        &_scroll {
            &__element {
                margin-top: -28px;
                z-index: 10;
            }
            width: 75px;
            &_mouse {
                margin: 0 2.5px;
            }
        }
    }
}