@media all and (max-width: 767px) and (min-width: 320px) {
    .third_block {
        height: 1166px;
        width: 100%;
        margin-top: -266px;
        &__wapper {
            width: 300px;
            height: 100%;
        }
        &__first_part {
            height: 607px;
            &__notes {
                &_headline {
                    font-size: 17px;
                    margin-top: 75px;
                    margin-left: 25px;
                }
                &_img {
                    display: none;
                    &_m_v {
                        display: block;
                        width: 100%;
                        height: 50%;
                        margin: 50px 0 0 0;
                    }
                }
            }
        }
        &__second_part {
            margin-bottom: 0px;
            &_form {
                margin-top: -100px;
                &__logo {
                    font-size: 30px;
                }
                &__headline {
                    font-family: 'Open Sans', serif;
                    font-style: bold;
                    font-size: 25px;
                }
                &__text {
                    width: 200px;
                    font-family: 'Open Sans', serif;
                    font-size: 18px;
                    & strong {
                        color: $main_color_red;
                    }
                }
            }
            &_bg {
                display: none;
            }
            &_pencils {
                display: none;
                &_m_v {
                    display: block;
                    position: absolute;
                    width: 100%;
                    margin-top: 374px;
                }
            }
        }
    }
    .third_m_v {
        margin-top: 1528px;
        margin-left: 59px;
        position: absolute;
    }
}