@import url(https://fonts.googleapis.com/css?family=Open+Sans);
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "inglobal";
    font-weight: normal;
    font-style: normal;
    src: url("../assets/fonts/inglobal.ttf") format("truetype");
}

@font-face {
    font-family: "inglobalbi";
    font-weight: bold;
    font-style: italic;
    src: url("../assets/fonts/inglobalbi.ttf") format("truetype");
}

@font-face {
    font-family: "inglobali";
    font-weight: normal;
    font-style: italic;
    src: url("../assets/fonts/inglobali.ttf") format("truetype");
}

@font-face {
    font-family: "inglobalb";
    font-weight: bold;
    font-style: normal;
    src: url("../assets/fonts/inglobalb.ttf") format("truetype");
}

.logo {
    font-family: "inglobalbi";
}

.header {
    display: flex;
    justify-content: center;
}

.header__wrapper {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 1300px;
    height: 100%;
}

.header__menu {
    text-align: center;
    background-color: #FFFF;
    border-radius: 50px;
    margin-top: -100px;
    width: 100px;
    height: 200px;
}

.header__menu_logo {
    color: black;
    font-size: 25px;
    margin-top: 130px;
}

.header__burger {
    display: none;
}

@media all and (max-width: 767px) and (min-width: 320px) {
    .header {
        height: 70px;
        background-color: #FFFF;
        border-bottom: 1px solid #c8c8c8;
    }
    .header__wrapper {
        position: sticky;
        justify-content: space-between;
        width: 300px;
    }
    .header__menu {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #c8c8c8;
        text-align: left;
        background-color: none;
        border-radius: 0;
        margin-top: 0;
        width: 70%;
        height: 70px;
    }
    .header__menu_logo {
        color: #ff431e;
        font-size: 25px;
        margin-top: 0;
        margin-left: 0;
    }
    .header__burger {
        display: flex;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        position: relative;
        margin: 0;
        width: 70px;
        height: 70px;
        border-left: 1px solid #c8c8c8;
    }
    .header__burger img {
        width: 16px;
        height: 13px;
    }
}

.first_block {
    background: url("../assets/bg.png") no-repeat;
    background-position: center;
    width: 100%;
    height: 1000px;
}

.first_block__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 1300px;
    height: 100%;
    background: url("../assets/collage.png") no-repeat;
    background-position: top;
}

.first_block__wrapper_container {
    transform: rotate(-10deg);
    margin-top: 305px;
    margin-left: 450px;
}

.first_block__wrapper_container_title {
    font-family: "inglobalbi";
    color: #FFFF;
    text-shadow: black 4px 0 0, black 3px 0 0, black -2px 0 0, black 0 3px 0, black 0 4px 0, black 0 5px 0, black 0 4px 0, black 0 -2px 0;
    font-size: 40px;
}

.first_block__wrapper_container_title_second_part {
    margin-left: 40px;
}

.first_block__wrapper_container_title_third_part {
    margin-left: -55px;
}

.first_block__wrapper__image_of_dialogs {
    width: 1100px;
    height: 60%;
    margin-top: 125px;
}

.first_block__wrapper__scroll {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}

.first_block__wrapper__scroll hr {
    border: none;
    color: #c8c8c8;
    background-color: #c8c8c8;
    height: 1px;
}

.first_block__wrapper__scroll_line {
    width: 540px;
}

.first_block__wrapper__scroll_mouse {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 70px;
}

.first_block__wrapper__scroll_mouse_icon {
    display: block;
    width: 30px;
    height: 60px;
}

.first_block__wrapper__scroll_mouse_icon_m_v {
    display: none;
}

.first_block__wrapper__scroll_mouse_fhrase {
    display: block;
    color: #ff431e;
    font-family: "inglobalbi";
    width: 50px;
    margin-top: 5px;
}

.first_block__wrapper__scroll_mouse_fhrase_m_v {
    display: none;
}

@media all and (max-width: 767px) and (min-width: 320px) {
    .first_block {
        background: #FFFF;
        background: url("../assets/collage_m_v.png") no-repeat;
        background-position: top;
        width: 100%;
        height: 592px;
    }
    .first_block__wrapper {
        width: 300px;
        background: none;
    }
    .first_block__wrapper_container {
        margin-top: 248px;
        margin-left: 17px;
    }
    .first_block__wrapper_container_title {
        font-family: "inglobalbi";
        color: #FFFF;
        text-shadow: black 4px 0 0, black 3px 0 0, black -2px 0 0, black 0 3px 0, black 0 4px 0, black 0 5px 0, black 0 4px 0, black 0 -2px 0;
        font-size: 22px;
    }
    .first_block__wrapper_container_title_second_part {
        margin-left: 20px;
    }
    .first_block__wrapper_container_title_third_part {
        margin-left: -30px;
    }
    .first_block__wrapper__image_of_dialogs {
        display: none;
    }
    .first_block__wrapper__scroll {
        margin-top: 182px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .first_block__wrapper__scroll hr {
        border: none;
        color: #c8c8c8;
        background-color: #c8c8c8;
        height: 0.5px;
    }
    .first_block__wrapper__scroll_line {
        width: 91px;
    }
    .first_block__wrapper__scroll_mouse {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: 0 15px;
    }
    .first_block__wrapper__scroll_mouse_icon {
        display: none;
    }
    .first_block__wrapper__scroll_mouse_icon_m_v {
        display: block;
        width: 38px;
        height: 60px;
    }
    .first_block__wrapper__scroll_mouse_fhrase {
        display: none;
    }
    .first_block__wrapper__scroll_mouse_fhrase_m_v {
        display: block;
        color: #ff431e;
        font-family: "inglobalbi";
        width: 50px;
        margin-top: 5px;
    }
}

.second_block {
    height: 855px;
}

.second_block__wrapper {
    z-index: -100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 1300px;
    height: 100%;
    background-color: #FFFF;
}

.second_block__wrapper_form_and_info {
    display: flex;
    margin: 0;
    width: 100%;
    flex-direction: row-reverse;
    align-items: center;
}

.second_block__wrapper__first_part {
    z-index: 0;
    margin-top: 112px;
}

.second_block__wrapper__second_part {
    z-index: 0;
    margin-top: 112px;
    width: 515px;
    margin-right: 20px;
}

.second_block__wrapper__second_part_title {
    font-family: "inglobalbi";
    color: #0694f8;
    font-size: 35px;
}

.second_block__wrapper__second_part_text {
    margin-top: 20px;
    font-family: "Open Sans", serif;
}

.second_block__header_of_form_hat {
    z-index: 1;
    width: 207px;
    height: 208px;
    margin-left: -97px;
    margin-top: -124px;
    position: absolute;
}

.second_block__header_of_form_shadow {
    z-index: 0;
    width: 106px;
    height: 61px;
    margin-left: -29px;
    margin-top: 0px;
    position: absolute;
}

.second_block__header_of_form_flag {
    z-index: -3;
    height: 191px;
    width: 184px;
    margin-left: 44px;
    margin-top: -82px;
    position: absolute;
}

.second_block__header_of_form_present {
    z-index: -2;
    margin-left: 138px;
    margin-top: -55px;
    position: absolute;
    width: 131px;
    height: 114px;
}

.second_block_form {
    z-index: -5;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    line-height: 170%;
    background-color: #FFFF;
    height: 500px;
    width: 345px;
    padding: 60px 17px;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
}

.second_block_form__headline {
    font-family: "Open Sans", serif;
    font-weight: bold;
}

.second_block_form__subtitle {
    font-family: "Open Sans", serif;
}

.second_block_form__input {
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 12px;
    outline: none;
    width: 275px;
    height: 40px;
    border: 1px solid #c8c8c8;
    border-radius: 5px;
    box-shadow: inset 0px 0px 5px rgba(116, 116, 116, 0.5);
    opacity: 0.4;
    padding: 15px;
}

.second_block_form__btn {
    font-family: "Open Sans", serif;
    cursor: pointer;
    background-color: #1da2ff;
    color: #FFFF;
    outline: none;
    border-color: #1da2ff;
    border-radius: 5px;
    width: 275px;
    height: 35px;
}

.second_block_form__btn:hover {
    background-color: #0694f8;
    font-family: "Open Sans", serif;
    font-weight: bold;
}

.second_block_form__btn:active {
    background-color: #0694f8;
    font-family: "Open Sans", serif;
    font-weight: bold;
    transform: scale(1.05);
    transition: all 0.2s;
}

.second_block_form__divider {
    width: 260px;
    height: 5px;
}

.second_block_form__number {
    font-family: "Open Sans", serif;
    font-weight: bold;
    color: #0694f8;
    font-size: 22px;
}

.second_block_scroll {
    color: #0694f8;
    width: 80px;
}

.second_block_scroll_mouse {
    margin: 0 55px;
}

@media all and (max-width: 767px) and (min-width: 320px) {
    .second_block {
        height: 940px;
    }
    .second_block__wrapper {
        flex-direction: column;
        width: 300px;
        height: 100%;
    }
    .second_block__wrapper_form_and_info {
        margin: 40px 0 0 0;
        width: 100%;
        flex-direction: column-reverse;
    }
    .second_block__wrapper__first_part {
        margin-top: 73px;
    }
    .second_block__wrapper__second_part {
        z-index: 0;
        margin-top: 0px;
        width: 300px;
        margin-right: 0px;
        text-align: right;
    }
    .second_block__wrapper__second_part_title {
        font-family: "inglobalbi";
        color: #0694f8;
        font-size: 25px;
    }
    .second_block__wrapper__second_part_text {
        font-size: 12px;
        margin: 20px 0 0 69px;
        font-family: "Open Sans", serif;
    }
    .second_block__header_of_form_hat {
        margin-left: -109px;
    }
    .second_block__header_of_form_shadow {
        margin-left: -44px;
    }
    .second_block__header_of_form_flag {
        margin-left: 23px;
    }
    .second_block__header_of_form_present {
        margin-left: 112px;
    }
    .second_block_form {
        border: none;
        border-top: 1px solid #c8c8c8;
        margin-left: -10px;
    }
    .second_block_form__headline {
        font-family: "Open Sans", serif;
        font-weight: bold;
        font-size: 20px;
    }
    .second_block_form__subtitle {
        font-family: "Open Sans", serif;
        font-size: 13px;
    }
    .second_block_scroll {
        width: 75px;
    }
    .second_block_scroll__element {
        margin-top: -28px;
        z-index: 10;
    }
    .second_block_scroll_mouse {
        margin: 0 2.5px;
    }
}

.third_block {
    height: 1145px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 235px;
}

.third_block__wapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 1300px;
    height: 100%;
}

.third_block__first_part {
    background: url("../assets/bg_2.png") no-repeat;
    background-position: center;
    width: 100%;
    height: 896px;
}

.third_block__first_part__notes {
    display: flex;
    justify-content: center;
    height: 100%;
    text-align: center;
}

.third_block__first_part__notes_headline {
    color: rgba(40, 40, 40, 0);
    font-family: "inglobalbi";
    font-size: 30px;
    background: -webkit-linear-gradient(#b76c00, #dec8a8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 1.2;
    text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.004);
    position: absolute;
    z-index: 164;
    margin-top: 100px;
    margin-left: 65px;
}

.third_block__first_part__notes_img {
    display: block;
    margin-top: 50px;
    width: 800px;
    height: 50%;
}

.third_block__first_part__notes_img_m_v {
    display: none;
}

.third_block__second_part {
    height: 15%;
    width: 100%;
    background-color: #FFFF;
    margin-bottom: 165px;
}

.third_block__second_part_form {
    position: absolute;
    z-index: 10;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
    line-height: 170%;
    height: 339px;
    margin-top: -291px;
}

.third_block__second_part_form__headline {
    font-family: "Open Sans", serif;
    font-style: bold;
}

.third_block__second_part_form__text {
    font-family: "Open Sans", serif;
    font-size: 14px;
}

.third_block__second_part_form__text strong {
    color: #ff431e;
}

.third_block__second_part_bg {
    display: block;
    position: absolute;
    z-index: 1;
    width: 662px;
    height: 414px;
    margin-top: -324px;
}

.third_block__second_part_pencils {
    display: block;
    position: absolute;
    z-index: 0;
    width: 1200px;
    height: 600px;
    margin-top: -361px;
    margin-left: 24px;
}

.third_block__second_part_pencils_m_v {
    display: none;
}

@media all and (max-width: 767px) and (min-width: 320px) {
    .third_block {
        height: 830px;
        width: 100%;
    }
    .third_block__wapper {
        width: 300px;
        height: 100%;
    }
    .third_block__first_part {
        height: 607px;
    }
    .third_block__first_part__notes_headline {
        font-size: 17px;
        margin-top: 75px;
        margin-left: 25px;
    }
    .third_block__first_part__notes_img {
        display: none;
    }
    .third_block__first_part__notes_img_m_v {
        display: block;
        margin-top: 50px;
        width: 320px;
        height: 42%;
    }
    .third_block__second_part {
        margin-bottom: 0px;
    }
    .third_block__second_part_form {
        margin-top: -200px;
    }
    .third_block__second_part_form__logo {
        font-size: 30px;
    }
    .third_block__second_part_form__headline {
        font-family: "Open Sans", serif;
        font-style: bold;
        font-size: 25px;
    }
    .third_block__second_part_form__text {
        width: 200px;
        font-family: "Open Sans", serif;
        font-size: 18px;
    }
    .third_block__second_part_form__text strong {
        color: #ff431e;
    }
    .third_block__second_part_bg {
        display: none;
    }
    .third_block__second_part_pencils {
        display: none;
    }
    .third_block__second_part_pencils_m_v {
        display: block;
        margin-left: -10px;
        margin-top: -262px;
    }
}

.fourth_block {
    height: 1000px;
    background-color: #FFFF;
}

.fourth_block__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 1300px;
    height: 100%;
}

.fourth_block__wrapper__first_part {
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fourth_block__wrapper__first_part__first {
    margin: 0;
    text-align: left;
}

.fourth_block__wrapper__first_part__first_title {
    font-size: 36px;
    width: 345px;
    font-family: "inglobalbi";
    color: #0694f8;
    line-height: 1.2;
    text-shadow: 1.414px 1.414px 0px rgba(153, 25, 0, 0.004);
    margin-bottom: 25px;
}

.fourth_block__wrapper__first_part__first_text {
    font-family: "Open Sans", serif;
    margin: 0;
    width: 343px;
    height: 112px;
}

.fourth_block__wrapper__first_part__first_box {
    display: flex;
    margin-top: 25px;
}

.fourth_block__wrapper__first_part__first_box_list {
    text-align: left;
    margin: 0;
}

.fourth_block__wrapper__first_part__first_box_list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 12px;
    height: 27px;
    margin-bottom: 10px;
}

.fourth_block__wrapper__first_part__first_box_list_item_info {
    margin-left: 10px;
    margin-top: -5px;
}

.fourth_block__wrapper__first_part__second {
    margin: 0;
    text-align: right;
}

.fourth_block__wrapper__first_part__second_title {
    font-size: 36px;
    width: 290px;
    font-family: "inglobalbi";
    color: #ff431e;
    line-height: 1.2;
    text-shadow: 1.414px 1.414px 0px rgba(153, 25, 0, 0.004);
    margin-bottom: 20px;
    margin-right: 0;
}

.fourth_block__wrapper__first_part__second_text {
    display: block;
    font-family: "Open Sans", serif;
    margin-right: 0px;
    width: 390px;
    height: 112px;
}

.fourth_block__wrapper__first_part__second_text_m_v {
    display: none;
}

.fourth_block__wrapper__first_part__second_box {
    display: flex;
    margin-top: 25px;
    float: right;
}

.fourth_block__wrapper__first_part__second_box_list {
    text-align: right;
    margin: 0;
}

.fourth_block__wrapper__first_part__second_box_list_item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Open Sans", serif;
    font-weight: bold;
    font-size: 12px;
    height: 27px;
    margin-bottom: 10px;
}

.fourth_block__wrapper__first_part__second_box_list_item_info {
    float: right;
    margin-right: 10px;
    margin-top: -5px;
}

.fourth_block__wrapper__second_part {
    margin-bottom: 220px;
}

.fourth_block__wrapper__second_part_text {
    margin-left: 125px;
    color: #FFFF;
    position: absolute;
    font-family: "Open Sans", serif;
    text-shadow: #1b93e9d7 0 2px 0;
}

.fourth_block__wrapper__second_part_text_first,
.fourth_block__wrapper__second_part_text_second {
    font-size: 20px;
}

.fourth_block__wrapper__second_part_text_third {
    font-style: italic;
    font-size: 40px;
}

.fourth_block__wrapper__second_part_img_present {
    display: block;
    position: relative;
    margin-top: -443px;
    width: 600px;
    height: 745px;
}

.fourth_block__wrapper__second_part_img_present_m_v {
    display: none;
}

.fourth_block__wrapper__second_part_img_phone {
    position: absolute;
    width: 870px;
    height: 367px;
    margin-top: 187px;
    margin-left: -773px;
}

.circles_blue {
    background-color: #0694f8;
}

.circles_red {
    background-color: #ff431e;
}

.circle {
    margin: 0;
    border-radius: 50%;
    width: 5px;
    height: 5px;
    margin: 0 2px 2px 0;
}

.couple_circles {
    margin: 0;
    display: flex;
    width: 12px;
    flex-direction: row;
}

.couple_circles div {
    margin-bottom: 2px;
}

.trio_circles {
    display: flex;
    margin: 0;
    width: 12px;
    flex-direction: column;
    align-items: center;
}

.trio_circles div {
    margin-bottom: 2px;
}

.squar_circles {
    margin: 0;
}

.fhrase {
    width: 51px;
    margin-top: 18px;
}

.mouse {
    margin: 0 69px;
}

@media all and (max-width: 767px) and (min-width: 320px) {
    .fourth_block {
        height: 1000px;
        background-color: #FFFF;
    }
    .fourth_block__wrapper {
        /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; */
        width: 300px;
    }
    .fourth_block__wrapper__first_part {
        flex-direction: column;
        justify-content: space-between;
    }
    .fourth_block__wrapper__first_part__first {
        margin-bottom: 350px;
    }
    .fourth_block__wrapper__first_part__first_title {
        width: 320px;
    }
    .fourth_block__wrapper__first_part__first_text {
        display: none;
    }
    .fourth_block__wrapper__first_part__first_text_m_v {
        display: block;
        font-family: "Open Sans", serif;
        margin: 0;
        width: 300px;
        height: 112px;
    }
    .fourth_block__wrapper__first_part__first_box {
        margin-top: 30px;
    }
    .fourth_block__wrapper__first_part__first_box_list {
        text-align: left;
        margin: 0;
    }
    .fourth_block__wrapper__first_part__first_box_list_item {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        font-family: "Open Sans", serif;
        font-weight: bold;
        font-size: 12px;
        height: 27px;
        margin-bottom: 10px;
    }
    .fourth_block__wrapper__first_part__first_box_list_item_info {
        margin-left: 10px;
        margin-top: -5px;
    }
    .fourth_block__wrapper__first_part__second {
        margin: 0;
        text-align: right;
    }
    .fourth_block__wrapper__first_part__second_title {
        font-size: 36px;
        width: 290px;
        font-family: "inglobalbi";
        color: #ff431e;
        line-height: 1.2;
        text-shadow: 1.414px 1.414px 0px rgba(153, 25, 0, 0.004);
        margin-bottom: 20px;
        margin-right: 0;
    }
    .fourth_block__wrapper__first_part__second_text {
        font-family: "Open Sans", serif;
        margin-right: 0px;
        width: 390px;
        height: 112px;
    }
    .fourth_block__wrapper__first_part__second_box {
        margin-top: 52px;
    }
    .fourth_block__wrapper__second_part {
        margin-bottom: 220px;
    }
    .fourth_block__wrapper__second_part_text {
        margin-left: 125px;
        color: #FFFF;
        position: absolute;
        font-family: "Open Sans", serif;
        text-shadow: #1b93e9d7 0 2px 0;
    }
    .fourth_block__wrapper__second_part_text_first,
    .fourth_block__wrapper__second_part_text_second {
        font-size: 20px;
    }
    .fourth_block__wrapper__second_part_text_third {
        font-style: italic;
        font-size: 40px;
    }
    .fourth_block__wrapper__second_part_img_present {
        display: none;
    }
    .fourth_block__wrapper__second_part_img_present_m_v {
        display: block;
        position: relative;
        margin-top: 0;
        width: 300px;
        height: 320px;
    }
    .fourth_block__wrapper__second_part_img_phone {
        position: absolute;
        width: 870px;
        height: 367px;
        margin-top: 187px;
        margin-left: -773px;
    }
    .circles_blue {
        background-color: #0694f8;
    }
    .circles_red {
        background-color: #ff431e;
    }
    .circle {
        margin: 0;
        border-radius: 50%;
        width: 5px;
        height: 5px;
        margin: 0 2px 2px 0;
    }
    .couple_circles {
        margin: 0;
        display: flex;
        width: 12px;
        flex-direction: row;
    }
    .couple_circles div {
        margin-bottom: 2px;
    }
    .trio_circles {
        display: flex;
        margin: 0;
        width: 12px;
        flex-direction: column;
        align-items: center;
    }
    .trio_circles div {
        margin-bottom: 2px;
    }
    .squar_circles {
        margin: 0;
    }
    .fhrase {
        width: 51px;
        margin-top: 18px;
    }
    .mouse {
        margin: 0 69px;
    }
}

.fifth_block {
    height: 700px;
    margin-top: 125px;
    background: url("../assets/bg_3.png") no-repeat;
    background-position: center;
}

.fifth_block__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
    height: 100%;
}

.fifth_block__wrapper img {
    width: 709px;
    height: 522px;
}

.fifth_block__wrapper_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
    float: right;
    height: 517px;
    margin: 64px 0 0 0px;
}

.fifth_block__wrapper_info_title {
    margin: 0 0 0 190px;
    font-size: 36px;
    font-family: "inglobalbi";
    line-height: 1.2;
    color: #FFFF;
}

.fifth_block__wrapper_info_text {
    margin: 0 0 0 160px;
    font-size: 18px;
    font-family: "Open Sans", serif;
    color: #FFFF;
    line-height: 1.2;
}

.fifth_block__wrapper_info_adress,
.fifth_block__wrapper_info_contact,
.fifth_block__wrapper_info_mail {
    margin: 0 0 0 365px;
    font-size: 18px;
    font-family: "Open Sans", serif;
    color: #FFFF;
    line-height: 1.2;
}

.fifth_block__wrapper_info_adress div,
.fifth_block__wrapper_info_contact div,
.fifth_block__wrapper_info_mail div {
    margin-bottom: 5px;
}

.fifth_block__wrapper_info_adress a,
.fifth_block__wrapper_info_contact a,
.fifth_block__wrapper_info_mail a {
    color: #FFFF;
}

.footer {
    height: 200px;
    background-color: #FFFF;
}

.footer__wrapper {
    display: flex;
    color: #787878;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 1300px;
    height: 100%;
}

.footer__wrapper__company {
    font-size: 12px;
    font-family: "Open Sans", serif;
}